extends modules/osnova.pug

block variables
  -var title = "AquaPrograms - Главная"
block menu
  //-Создаём в меню раздел списка
  +spisok_osnova("Основное")
  //-Создаём в меню элемент раздела (Активный)
  +spisok_element_active("index.html", "dashboard", "Главная")
  //-Создаём в меню элемент раздела (Заблокированный)
  +spisok_element_disabled("#", "person_outline", "Профиль")
  //-Создаём в меню раздел списка
  +spisok_osnova("Разделы")
  //-Создаём в меню раскрывающиеся список и добавляем элементы
  +spisok_element_vniz("apps", "Программы",
  [{href: '#', text: 'Браузеры'},
  {href: '#', text: 'Архиваторы'}])
block content
