/* Кнопка Ubuntu */
.btn.btn-ubuntu {
    background: #E8552C;
    color: #fff;
}

.btn.btn-ubuntu:hover  {
    background: #F56239!important;
}

.btn.btn-ubuntu:focus,
.btn.btn-ubuntu.active,
.btn.btn-ubuntu:active {
    background: #F56239!important;
    box-shadow: 0 0 0 0.2rem rgba(232, 85, 44, 0.25);
}

.btn-ubuntu:not(:disabled):not(.disabled):active:focus,
.btn-ubuntu:not(:disabled):not(.disabled).active:focus,
.show > .btn-ubuntu.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(232, 85, 44, 0.5);
}

/* Кнопка Manjaro*/
.btn.btn-manjaro {
    background: #39BF64;
    color: #fff;
}

.btn.btn-manjaro:hover  {
    background: #48CE73!important;
}

.btn.btn-manjaro:focus,
.btn.btn-manjaro.active,
.btn.btn-manjaro:active {
    background: #48CE73!important;
    box-shadow: 0 0 0 0.2rem rgba(57, 191, 100, 0.25);
}

.btn-manjaro:not(:disabled):not(.disabled):active:focus,
.btn-manjaro:not(:disabled):not(.disabled).active:focus,
.show > .btn-manjaro.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(57, 191, 100, 0.5);
}

/* Кнопка Trello */
.btn.btn-trello {
    background: #5397BF;
    color: #fff;
}

.btn.btn-trello:hover  {
    background: #6BA6C8!important;
}

.btn.btn-trello:focus,
.btn.btn-trello.active,
.btn.btn-trello:active {
    background: #6BA6C8!important;
    box-shadow: 0 0 0 0.2rem rgba(83, 151, 191, 0.25);
}

.btn-trello:not(:disabled):not(.disabled):active:focus,
.btn-trello:not(:disabled):not(.disabled).active:focus,
.show > .btn-trello.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(83, 151, 191, 0.5);
}
